.title {
  background-color: var(--theme_black);
  padding: 80px 0;
}

.title h1 {
  font-size: 64px;
  font-family: "d-b";
  color: var(--text_white);
  line-height: 125%;
  text-indent: 150px;
}

.services {
  background-color: var(--theme_white);
}

.services .services_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 13px;
  position: relative;
  top: 10%;
}

.services .services_context {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 13px;
  position: relative;
  bottom: 10%;
}

.services .offer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services .offer p {
  font-size: 48px;
  font-family: "d-r";
  line-height: 125%;
}

.services .section {
  display: flex;
  gap: 36px;
  background-color: var(--text_white);
  padding: 0 10px;
}

.services .section .section_icon {
  padding: 100px 0 100px 50px;
}

.services .section .icon {
  width: 55px;
  height: 60px;
  color: #fddd0d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.services .section .section_data {
  padding: 56px 0;
}

.services .section .section_data h2 {
  font-size: 26px;
  font-family: "d-r";
  line-height: 100%;
  color: var(--theme_black);
  padding: 30px 0;
}

.services .section .section_data p {
  font-size: 21px;
  font-family: "d-r";
  line-height: 150%;
  color: #8398a2;
}

.frame img {
  width: 100%;
}

@media (max-width: 1200px) {
  /* Başlıq */
  .title h1 {
    text-indent: 0 !important; 
    text-align: center; 
    font-size: 50px; 
  }

  /* Ümumi xidmətlər bölməsi */
  .services .services_container {
    grid-template-columns: 1fr !important; 
  }

  .services .services_main,
  .services .services_context {
    padding: 10px;
  }

  /* Hər bir xidmətin bölməsi */
  .services .section {
    flex-direction: column; 
    gap: 20px;
  }

  .services .section_icon {
    display: none;
  }

  .services .section_data {
    padding: 16px 0 !important; /* Mətnin paddingi kiçildilir*/
  }

  .services .section .section_data h2 {
    font-size: 28px;
  }

  .services .section .section_data p {
    font-size: 26px;
  }

  .services .offer {
    padding: 0; /* Təklif bölməsi üçün padding */
    text-align: center; /* Mərkəzləşdirilir */
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
  }

  .services .offer p {
    font-size: 34px;
    font-family: 'd-b';
    padding-top: 48px;
  }

  /* Şəkil */
  .frame img {
    width: 100%; /* Şəkil ekran ölçüsünə uyğunlaşdırılır */
    height: auto; /* Hündürlük proporsional saxlanılır */
  }

  /* Səhifənin alt hissəsindəki bölmələr */
  .services .section .section_data h3 {
    font-size: 30px; /* H3 başlıqlarını kiçildir */
  }

  .services .section .section_data p {
    font-size: 26x; /* P mətnini kiçildir */
  }

  /* İkonların ölçüsü */
  .services .section .icon {
    width: 40px; /* İkonları kiçildir */
    height: 40px;
  }
}

@media (max-width: 991px) {
  /* Başlıq */
  .title h1 {
    text-indent: 0 !important; 
    text-align: center; 
    font-size: 42px; 
  }

  /* Ümumi xidmətlər bölməsi */
  .services .services_container {
    grid-template-columns: 1fr !important; 
    
  }

  .services .services_main,
  .services .services_context {
    padding: 10px;
  }

  /* Hər bir xidmətin bölməsi */
  .services .section {
    flex-direction: column; 
    gap: 20px;
  }

  .services .section_icon {
    display: none;
  }

  .services .section_data {
    padding: 16px 0 !important; /* Mətnin paddingi kiçildilir*/
  }

  .services .section .section_data h2 {
    font-size: 24px;
  }

  .services .section .section_data p {
    font-size: 22px;
  }

  .services .offer {
    padding: 0; /* Təklif bölməsi üçün padding */
    text-align: center; /* Mərkəzləşdirilir */
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
  }

  .services .offer p {
    font-size: 30px;
    font-family: 'd-b';
    padding-top: 48px;
  }

  /* Şəkil */
  .frame img {
    width: 100%; /* Şəkil ekran ölçüsünə uyğunlaşdırılır */
    height: auto; /* Hündürlük proporsional saxlanılır */
  }

  /* Səhifənin alt hissəsindəki bölmələr */
  .services .section .section_data h3 {
    font-size: 26px; /* H3 başlıqlarını kiçildir */
  }

  .services .section .section_data p {
    font-size: 22x; /* P mətnini kiçildir */
  }

  /* İkonların ölçüsü */
  .services .section .icon {
    width: 40px; /* İkonları kiçildir */
    height: 40px;
  }
}

@media (max-width: 768px) {
  /* Başlıq */
  .title h1 {
    text-indent: 0 !important; 
    text-align: center; 
    font-size: 32px; 
  }

  /* Ümumi xidmətlər bölməsi */
  .services .services_container {
    grid-template-columns: 1fr !important; 
    
  }

  .services .services_main,
  .services .services_context {
    padding: 10px;
  }

  /* Hər bir xidmətin bölməsi */
  .services .section {
    flex-direction: column; 
    gap: 20px;
  }

  .services .section_icon {
    display: none;
  }

  .services .section_data {
    padding: 16px 0 !important; /* Mətnin paddingi kiçildilir*/
  }

  .services .section .section_data h2 {
    font-size: 20px;
  }

  .services .section .section_data p {
    font-size: 18px;
  }

  .services .offer {
    padding: 0; /* Təklif bölməsi üçün padding */
    text-align: center; /* Mərkəzləşdirilir */
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
  }

  .services .offer p {
    font-size: 26px;
    font-family: 'd-b';
    padding-top: 48px;
  }

  .services .offer span {
    font-size: 18px;
  }

  /* Şəkil */
  .frame img {
    width: 100%; /* Şəkil ekran ölçüsünə uyğunlaşdırılır */
    height: auto; /* Hündürlük proporsional saxlanılır */
  }

  /* Səhifənin alt hissəsindəki bölmələr */
  .services .section .section_data h3 {
    font-size: 22px; /* H3 başlıqlarını kiçildir */
  }

  .services .section .section_data p {
    font-size: 18x; /* P mətnini kiçildir */
  }

  /* İkonların ölçüsü */
  .services .section .icon {
    width: 40px; /* İkonları kiçildir */
    height: 40px;
  }
}

@media (max-width: 576px) {
  /* Başlıq */
  .title h1 {
    text-indent: 0 !important; 
    text-align: center; 
    font-size: 24px; 
  }

  /* Ümumi xidmətlər bölməsi */
  .services .services_container {
    grid-template-columns: 1fr !important; 
    
  }

  .services .services_main,
  .services .services_context {
    padding: 10px;
  }

  /* Hər bir xidmətin bölməsi */
  .services .section {
    flex-direction: column; 
    gap: 20px;
  }

  .services .section_icon {
    display: none;
  }

  .services .section_data {
    padding: 16px 0 !important; /* Mətnin paddingi kiçildilir*/
  }

  .services .section .section_data h2 {
    font-size: 18px;
  }

  .services .section .section_data p {
    font-size: 16px;
  }

  .services .offer {
    padding: 0; /* Təklif bölməsi üçün padding */
    text-align: center; /* Mərkəzləşdirilir */
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
  }

  .services .offer p {
    font-size: 24px;
    font-family: 'd-b';
    padding-top: 48px;
  }

  .services .offer span {
    font-size: 16px;
  }

  /* Şəkil */
  .frame img {
    width: 100%; /* Şəkil ekran ölçüsünə uyğunlaşdırılır */
    height: auto; /* Hündürlük proporsional saxlanılır */
  }

  /* Səhifənin alt hissəsindəki bölmələr */
  .services .section .section_data h3 {
    font-size: 20px; /* H3 başlıqlarını kiçildir */
  }

  .services .section .section_data p {
    font-size: 16px; /* P mətnini kiçildir */
  }

  /* İkonların ölçüsü */
  .services .section .icon {
    width: 40px; /* İkonları kiçildir */
    height: 40px;
  }
}
