.card_black {
  background-color: #1D2028;
  padding: 0 30px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 24px;
}

.card_black h1 {
  font-size: 30px;
  line-height: 1;
  font-family: 'd-r';
  color: var(--text_white);
  padding: 60px 0 34px;
}

.card_black h1 span {
  font-size: 30px;
  line-height: 1;
  font-family: 'd-r';
  color: #FDDD0D;
}

.card_black p {
  font-size: 24px;
  line-height: 130%;
  font-family: 'd-r';
  color: #9CACB4;
  padding-bottom: 76px;
}

.card_black .card_btn {
  padding-bottom: 60px;
}

.card_black .card_btn button {
  background-color: #FDDD0D;
  padding: 20px 0;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  gap: 16px;
  border: none;
}

.card_black .card_btn button span {
  font-size: 22px;
  line-height: 1;
  letter-spacing: 2%;
  font-family: 'd-r';
  color: #1D2028;
}

@media (max-width: 1200px) {
  .card_black {
    padding: 0 16px;
  }

  .card_black .card_btn {
    padding-bottom: 28px;
  }

  .card_black .card_btn button {
    padding: 14px 18px;
    width: auto;
  }

  .card_black .card_btn button span {
    font-size: 20px;
  }

  .icon {
    font-size: 22px;
  }

  .card_black h1,
  .card_black h1 span {
    font-size: 28px;
    padding: 28px 0 24px;
  }
  
  .card_black p {
    font-size: 18px;
    padding: 22px;
  }

}

@media (max-width: 991px) {
  .card_black {
    padding: 0 16px;
  }

  .card_black .card_btn {
    padding-bottom: 28px;
  }

  .card_black .card_btn button {
    padding: 14px 18px;
    width: auto;
  }

  .card_black .card_btn button span {
    font-size: 18px;
  }

  .icon {
    font-size: 20px;
  }

  .card_black h1,
  .card_black h1 span {
    font-size: 24px;
    padding: 28px 0 24px;
  }
  
  .card_black p {
    font-size: 18px;
    padding: 20px;
  }

}

@media (max-width: 768px) {
  .card_black {
    padding: 0 16px;
  }

  .card_black .card_btn {
    padding-bottom: 28px;
  }

  .card_black .card_btn button {
    padding: 14px 18px;
    width: auto;
  }

  .card_black .card_btn button span {
    font-size: 16px;
  }

  .icon {
    font-size: 20px;
  }

  .card_black h1,
  .card_black h1 span {
    font-size: 20px;
    padding: 28px 0 24px;
  }
  
  .card_black p {
    font-size: 18px;
    padding: 24px;
  }

}

@media (max-width: 576px) {
  .card_black {
    padding: 0 16px;
  }

  .card_black .card_btn {
    padding-bottom: 28px;
  }

  .card_black .card_btn button {
    padding: 14px 18px;
    width: auto;
  }

  .card_black .card_btn button span {
    font-size: 14px;
  }

  .icon {
    font-size: 20px;
  }

  .card_black h1,
  .card_black h1 span {
    font-size: 18px;
    padding: 28px 0 24px;
  }
  
  .card_black p {
    font-size: 16px;
    padding: 24px;
  }

}








