/* header{
    display: flex;
    justify-content: space-between;
    border: 1px;
    background-color: var(--color_nav-white);
    padding: 30px 54px;
    height: 96px;
  }
  .navbar{
    display: flex;
    gap: 44px;
  }
  .navbar a {
    text-decoration: none;
    color: var(--color_black-a);
    font-size: 20px;
    line-height: 100%;
    font-family: 'D-r';
  }
  .menu{
    margin: 0 30.4px 0 72px;
  }
  .logo{
    margin-left: 54px;
  } */