.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: relative;
  z-index: 2;
}

.logo {
  display: block;
  height: 36px;
  width: 170px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  gap: 44px;
}

.navbar a {
  text-decoration: none;
  color: var(--text_white);
  font-size: 20px;
  line-height: 100%;
  font-family: "d-r";
}

.navbar button {
  width: 36px;
  height: 36px;
  border: none;
  background-color: var(--theme_black);
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  border-radius: 3px;
}

.navbar button .item1,
.navbar button .item2,
.navbar button .item3 {
  background-color: var(--text_white);
}

.navbar button .item1 {
  width: 80%;
  height: 3px;
}

.navbar button .item2 {
  width: 60%;
  height: 3px;
}

.navbar button .item3 {
  width: 30%;
  height: 3px;
}

.dropdown_links {
  position: absolute;
  background-color: var(--theme_white);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 20px;
  max-width: 405px;
  width: 100%;
  right: 0;
  top: 100%;
  border-radius: 2px;
}

.dropdown_links a {
  text-decoration: none;
  color: var(--text_black);
  font-size: 20px;
  line-height: 100%;
}

.dropdown_links .info {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 10%;
}

.dropdown_links .info a {
  font-size: 16px;
  font-family: "d-r";
  line-height: 160%;
  text-decoration: underline;
}

/* Header background color */
.black_header {
  background-color: var(--theme_black);
}

.white_header {
  background-color: var(--theme_white);
  border-bottom: 1px solid #00000014;
}

.white_header .navbar button {
  background-color: var(--theme_white);
}

.white_header .navbar button .item1,
.white_header .navbar button .item2,
.white_header .navbar button .item3 {
  background-color: var(--theme_black);
}

@media (max-width: 576px) {
  .white_header {
    background-color: var(--theme_black);
  }

  .white_header .navbar button {
    background-color: var(--theme_black);
  }

  .white_header .navbar button .item1,
  .white_header .navbar button .item2,
  .white_header .navbar button .item3 {
    background-color: var(--theme_white);
  }
}

.white_header .navbar > a {
  color: var(--text_black);
}

.white_header button {
  background-color: var(--theme_black);
}

.white_header button .item1,
.white_header button .item2,
.white_header button .item3 {
  background-color: var(--text_white);
}

.white_header .logo {
  width: 160px;
  height: 50px;
}

@media (max-width: 1200px) {
  .navbar a {
    display: none;
  }
}

@media (max-width: 991px) {
  .navbar a {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar a {
    display: none;
  }
}

@media (max-width: 576px) {
  /* Navbar - Flex Column */
  .navbar a {
    display: none;
  }

  .navbar button {
    gap: 6px;
  }

  /* Dropdown Menu */
  .dropdown_links {
    max-width: 250px;
  }
}
