/* HOME Section */
.home {
  background-color: var(--theme_white);
}

.home .home_title {
  display: flex;
  padding: 380px 0 130px;
  background-color: var(--theme_black);
}

.home_about {
  display: flex;
}

.home .home_title h1 {
  font-size: 72px;
  font-family: "l-sb";
  line-height: 115%;
  color: var(--text_white);
}

.home .home_title p {
  font-size: 18px;
  line-height: 150%;
  font-family: "d-r";
  color: var(--theme_white);
  padding-bottom: 54px;
}

.home .home_title button {
  background-color: #fddd0d;
  padding: 0 20px;
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  gap: 16px;
}

.home .home_title button span {
  font-size: 22px;
  line-height: 100%;
  font-family: "d-r";
  color: #1d2028;
}

.home .home_title .icon {
  font-size: 30px;
}

.home .home_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 54px 0;
  gap: 20px;
}

.home .home_container .home_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home .home_container .home_main p {
  font-size: 23px;
  font-family: "d-r";
  line-height: 125%;
  color: #8398a2;
}

.home .home_container .home_main h1 {
  font-size: 26px;
  font-family: "d-r";
  line-height: 150%;
  color: var(--theme_black);
}

/* CARD SELECTED Section */
.card_selected {
  background-color: #0f121b;
}

.card_selected .useCard_title {
  display: flex;
  justify-content: space-around;
  padding-top: 54px;
}

.card_selected .useCard_title p {
  font-size: 30px;
  line-height: 100%;
  font-family: "d-r";
  color: var(--text_white);
}

.card_selected .useCard_title span {
  font-size: 50px;
  line-height: 100%;
  font-family: "d-r";
  color: #fddd0d;
}

.card_selected .useCard_title .theme {
  font-size: 22px;
  font-family: "d-r";
  line-height: 125%;
  color: #f1f5f7;
}

.card_selected .useCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 54px 0;
}

/* CONSTRUCTION Section */
.construction {
  background-color: #f1f5f7;
  padding: 84px 0;
}

.construction .construction_title {
  display: flex;
  justify-content: space-between;

  div {
    text-indent: 110px;
  }
}

.construction .construction_title h4 {
  font-size: 32px;
  line-height: 100%;
  color: #303030;
  font-family: "d-r";
}

.construction .construction_title p {
  font-size: 24px;
  line-height: 20px;
  font-family: "d-r";
  color: #0000004d;
}

.construction .construction_title .more {
  font-size: 16px;
  font-family: "d-r";
  line-height: 100%;
  color: #1d202880;
}

.construction .gradient {
  background: linear-gradient(
    to left,
    #485681,
    #3d496d,
    #0f121b,
    #354060,
    #283048,
    #21273b,
    #313a57,
    #323c59,
    #2d3752,
    #262e45,
    #1b2131,
    #171c2a
  );
  padding: 25px;
}

.construction .gradient h3 {
  font-size: 22px;
  line-height: 100%;
  font-family: "d-r";
  color: var(--text_white);
  padding: 42px 0 42px;
}

.construction .gradient span {
  font-size: 20px;
  line-height: 100%;
  font-family: "d-r";
  color: var(--text_white);
}

.construction .gradient p {
  font-size: 20px;
  line-height: 125%;
  font-family: "d-r";
  color: var(--text_white);
  padding: 24px 0;
}

.construction .gradient button {
  background-color: #fddd0d;
  font-size: 24px;
  line-height: 100%;
  font-family: "d-r";
  color: #1d2028;
  width: 240px;
  border-radius: 45px;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction .card_construction {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 60px;
  gap: 20px;
}

.construction .card_construction .img_div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e4e5;
  height: 350px;
}

.construction .card_construction .img_div img {
  background-color: var(--theme_white);
  padding: 10px;
}

.construction .card_construction .info_card {
  background-color: #9e9e9e33;
  padding: 46px 30px;
}

.construction .card_construction .info_card p {
  font-size: 20px;
  line-height: 100%;
  color: #303030;
  font-family: "d-r";
}

.construction .card_construction .info_card button {
  width: 126px;
  color: #716e6e;
  font-size: 18px;
  line-height: 100%;
  font-family: "d-r";
  color: #716e6e;
  border: none;
  background-color: #9e9e9e33;
}

.construction .card_construction .info_card .card_footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.construction .card_construction .info_card .card_footer p {
  font-size: 20px;
  font-family: "d-r";
  line-height: 100%;
  color: #303030;
}

.construction .card_construction .info_card img {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  margin-left: 5px;
}

/* TEXNOLOGY Section */
.texnology {
  padding: 76px;
  text-indent: 110px;
}

.texnology h3 {
  font-size: 30px;
  font-family: "d-b";
  line-height: 100%;
  color: #303030;
}

.texnology p {
  font-size: 24px;
  line-height: 20px;
  font-family: "d-r";
  color: #0000004d;
}

/* ICON TEXNO Section */
.it_texno {
  background-color: var(--theme_white);
  padding-bottom: 48px;
}

/* IT SERVICES Section */
.it_services {
  background-color: var(--theme_black);
}

.it_services .it_title {
  padding: 54px 0 80px;
}

.it_services .it_title h4 {
  font-size: 30px;
  line-height: 100%;
  color: var(--text_white);
  font-family: "d-r";
}

.it_services .it_title p {
  font-size: 50px;
  line-height: 100%;
  font-family: "d-r";
  color: #fddd0d;
}

.it_services .it_list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 100px;
}

.it_services .it_list p {
  font-size: 40px;
  line-height: 100%;
  font-family: "d-r";
  color: var(--text_white);
  border-bottom: 2px solid #9cacb44d;
  padding: 16px 0;
}

/* QUALITY Section */
.quality {
  background-color: #f1f5f7;
}

.quality .quality_title {
  padding-top: 84px;
}

.quality .quality_title div {
  text-indent: 110px;
}

.quality .quality_title h4 {
  font-size: 32px;
  line-height: 100%;
  color: #303030;
  font-family: "d-r";
}

.quality .quality_title p {
  font-size: 24px;
  line-height: 20px;
  font-family: "d-r";
  color: #0000004d;
}

.quality .section {
  display: flex;
  gap: 20px;
  position: relative;
  top: 140px;
  /* padding: 0 54px; */
}

.quality .section .card_text {
  display: flex;
  flex-direction: column;
  gap: 20px !important;
}

.quality .section .quality_card {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding: 56px 48px;
}

.quality .section .icon {
  width: 60px;
  height: 60px;
  color: #fddd0d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.quality .section .section_data h3 {
  font-size: 26px;
  line-height: 100%;
  font-family: "d-r";
  color: #0f121b;
}
.quality .section .section_data p {
  font-size: 21px;
  line-height: 150%;
  font-family: "d-r";
  color: #8398a2;
  padding-top: 28px;
}

.quality .icon_texno {
  display: flex;
  justify-content: space-between;
  padding-bottom: 84px;
}

@media (max-width: 1200px) {
  /* HOME Section */
  .home .home_title .home_about {
    flex-direction: column;
    text-align: left;
  }

  .home .home_title .home_about h1 {
    font-size: 60px; /* Yəni daha kiçik başlıq */
  }

  .home .home_title .home_btn button {
    width: 340px; /* Düymə eni kiçildilib */
    height: 60px; /* Düymə boyu */
  }

  .home .home_title .home_btn button span {
    font-size: 20px;
  }

  .home .home_title .home_btn button .icon {
    font-size: 21px;
  }

  .home .home_title .home_btn {
    display: flex;
    align-items: flex-end;
  }

  /* HOME Container - Daha uyğun grid strukturu */
  .home .home_container {
    grid-template-columns: 1fr 1fr; /* Bütün sütunları bir-birinə yığırıq */
    padding: 54px 16px;
  }

  .home .home_container .home_main {
    align-items: normal;
  }

  /* CARD SELECTED Section */
  .card_selected .useCard_title {
    flex-direction: column; /* Yığılmış başlıq */
    padding-top: 30px;
  }

  .card_selected .useCard_title p {
    font-size: 28px;
  }

  .card_selected .useCard_title span {
    font-size: 46px;
  }

  .card_selected .useCard_title .theme {
    font-size: 20px;
    padding-top: 20px;
  }

  .card_selected .useCard {
    grid-template-columns: 1fr 1fr; /* Kartları tək sütun halına gətiririk */
    padding: 32px 16px;
  }

  .construction .construction_title div {
    text-indent: 0;
  }

  .construction .construction_title p {
    font-size: 22px; /* Kiçik mətn ölçüsü */
    margin-bottom: 0;
  }

  .construction .gradient button {
    padding: 16px 24px;
    width: auto;
    font-size: 20px;
  }

  .construction .gradient {
    padding: 15px; /* Gradientin içərisini daraldırıq */
  }

  .construction .card_construction {
    grid-template-columns: 1fr; /* Kartları yığırıq */
  }

  .construction .card_construction .info_card {
    padding: 30px 20px;
  }

  /* IT SERVICES Section */
  .it_texno {
    background-color: var(--text_white);
    padding-bottom: 48px;
  }
  .it_services .it_title {
    padding: 30px 0 48px;
  }

  .it_services .it_title h4 {
    font-size: 28px;
  }

  .it_services .it_title p {
    font-size: 44px;
  }

  .it_services .it_list {
    gap: 8px;
    padding-bottom: 48px;
  }

  .it_services .it_list p {
    font-size: 36px;
  }

  /* QUALITY Section */
  .quality .quality_title {
    padding: 48px 16px 32px;
  }

  .quality .quality_title div {
    text-indent: 0;
  }

  .quality .quality_title h4 {
    font-size: 30px;
    font-family: "d-b";
  }

  .quality .quality_title p {
    font-size: 22px; /* Kiçik mətn ölçüsü */
    margin-bottom: 0;
  }

  .quality .section {
    gap: 10px;
    top: 16px;
  }

  .quality .section .quality_card {
    flex-direction: column;
    padding: 25px; /* Kiçik padding */
    gap: 8px;
  }

  .quality .section .section_data h3 {
    font-size: 24px;
    font-family: "d-b";
  }

  .quality .section .section_data p {
    font-size: 24px;
  }

  .quality .icon_texno {
    background-color: var(--text_white);
  }

  /* Texnologiya bölməsi */
  .texnology {
    padding: 50px 10px; /* padding kiçildirik */
    text-indent: 0; /* Text-indent silirik */
    background-color: var(--text_white);
  }

  .texnology h3 {
    font-size: 28px;
  }

  .texnology p {
    font-size: 22px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  /* HOME Section */
  .home .home_title {
    padding: 370px 0 16px; /* padding azaldılıb */
  }

  .home .home_title .home_about {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .home .home_title .home_about h1 {
    font-size: 52px; /* Yəni daha kiçik başlıq */
  }

  .home .home_title .home_about p {
    font-size: 16px; /* Kiçik mətn */
    padding-bottom: 30px; /* Bottom padding */
  }

  .home .home_title .home_btn button {
    width: 340px; /* Düymə eni kiçildilib */
    height: 60px; /* Düymə boyu */
  }

  .home .home_title .home_btn button span {
    font-size: 18px;
  }

  .home .home_title .home_btn button .icon {
    font-size: 20px;
  }

  .home .home_title .home_btn {
    display: flex;
    align-items: flex-end;
  }

  /* HOME Container - Daha uyğun grid strukturu */
  .home .home_container {
    grid-template-columns: 1fr; /* Bütün sütunları bir-birinə yığırıq */
    padding: 54px 16px;
  }

  .home .home_container .home_main {
    align-items: normal;
  }

  .home .home_container .home_main p {
    font-size: 21px; /* Kiçik mətn ölçüsü */
  }

  .home .home_container .home_main h1 {
    font-size: 24px; /* Kiçik başlıq */
  }

  .construction .more_btn {
    font-size: 18px;
    font-family: "d-r";
    line-height: 100%;
    color: #1d202880;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .construction .more_btn p {
    text-decoration: underline;
  }

  /* CARD SELECTED Section */
  .card_selected .useCard_title {
    flex-direction: column; /* Yığılmış başlıq */
    padding-top: 30px;
  }

  .card_selected .useCard_title p {
    font-size: 24px;
  }

  .card_selected .useCard_title span {
    font-size: 30px;
  }

  .card_selected .useCard_title .theme {
    font-size: 18px;
    padding-top: 20px;
  }

  .card_selected .useCard {
    grid-template-columns: 1fr; /* Kartları tək sütun halına gətiririk */
    padding: 32px 16px;
  }

  .construction .construction_title div {
    text-indent: 0;
  }

  .construction .construction_title h4 {
    font-size: 28px;
  }

  .construction .construction_title p {
    font-size: 20px; /* Kiçik mətn ölçüsü */
    margin-bottom: 0;
  }

  .construction .gradient button {
    padding: 16px 24px;
    width: auto;
    font-size: 16px;
  }

  .construction .gradient {
    padding: 15px; /* Gradientin içərisini daraldırıq */
  }

  .construction .card_construction {
    grid-template-columns: 1fr; /* Kartları yığırıq */
  }

  .construction .card_construction .info_card {
    padding: 30px 20px;
  }

  /* IT SERVICES Section */
  .it_texno {
    background-color: var(--text_white);
    padding-bottom: 48px;
  }
  .it_services .it_title {
    padding: 30px 0 48px;
  }

  .it_services .it_title h4 {
    font-size: 26px;
  }

  .it_services .it_title p {
    font-size: 40px;
  }

  .it_services .it_list {
    gap: 8px;
    padding-bottom: 48px;
  }

  .it_services .it_list p {
    font-size: 34px;
  }

  /* QUALITY Section */
  .quality .quality_title {
    padding: 48px 16px 32px;
  }

  .quality .quality_title div {
    text-indent: 0;
  }

  .quality .quality_title h4 {
    font-size: 28px;
    font-family: "d-b";
  }

  .quality .quality_title p {
    font-size: 20px; /* Kiçik mətn ölçüsü */
    margin-bottom: 0;
  }

  .quality .section {
    flex-direction: column; /* Vertikal yerləşmə */
    gap: 10px;
    top: 16px;
  }

  .quality .section .quality_card {
    flex-direction: column; /* Kartın içindəki elementləri yığırıq */
    padding: 25px; /* Kiçik padding */
    gap: 8px;
  }

  .quality .section .section_data h3 {
    font-size: 22px;
    font-family: "d-b";
  }

  .quality .section .section_data p {
    font-size: 20px;
  }

  .quality .icon_texno {
    background-color: var(--text_white);
  }

  /* Texnologiya bölməsi */
  .texnology {
    padding: 50px 10px; /* padding kiçildirik */
    text-indent: 0; /* Text-indent silirik */
    background-color: var(--text_white);
  }

  .texnology h3 {
    font-size: 26px;
  }

  .texnology p {
    font-size: 18px;
    margin-bottom: 0;
  }

  .quality .section .icon {
    display: none;
  }
}

@media (max-width: 768px) {
  /* HOME Section */
  .home .home_title {
    padding: 370px 0 16px; /* padding azaldılıb */
  }

  .home .home_title .home_about {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .home .home_title .home_about h1 {
    font-size: 40px; /* Yəni daha kiçik başlıq */
  }

  .home .home_title .home_about p {
    font-size: 16px; /* Kiçik mətn */
    padding-bottom: 30px; /* Bottom padding */
  }

  .home .home_title .home_btn button {
    width: 340px; /* Düymə eni kiçildilib */
    height: 50px; /* Düymə boyu */
  }

  .home .home_title .home_btn button span {
    font-size: 16px;
  }

  .home .home_title .home_btn button .icon {
    font-size: 20px;
  }

  .home .home_title .home_btn {
    display: flex;
    align-items: flex-end;
  }

  /* HOME Container - Daha uyğun grid strukturu */
  .home .home_container {
    grid-template-columns: 1fr; /* Bütün sütunları bir-birinə yığırıq */
    padding: 54px 16px;
  }

  .home .home_container .home_main {
    align-items: normal;
  }

  .home .home_container .home_main p {
    font-size: 20px; /* Kiçik mətn ölçüsü */
  }

  .home .home_container .home_main h1 {
    font-size: 24px; /* Kiçik başlıq */
  }

  .construction .more_btn {
    font-size: 16px;
    font-family: "d-r";
    line-height: 100%;
    color: #1d202880;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .construction .more_btn p {
    text-decoration: underline;
  }

  /* CARD SELECTED Section */
  .card_selected .useCard_title {
    flex-direction: column; /* Yığılmış başlıq */
    padding-top: 30px;
  }

  .card_selected .useCard_title p {
    font-size: 20px;
  }

  .card_selected .useCard_title span {
    font-size: 26px;
  }

  .card_selected .useCard_title .theme {
    font-size: 18px;
    padding-top: 20px;
  }

  .card_selected .useCard {
    grid-template-columns: 1fr; /* Kartları tək sütun halına gətiririk */
    padding: 32px 16px;
  }

  .construction .construction_title div {
    text-indent: 0;
  }

  .construction .construction_title h4 {
    font-size: 26px;
  }

  .construction .construction_title p {
    font-size: 18px; /* Kiçik mətn ölçüsü */
    margin-bottom: 0;
  }

  .construction .gradient button {
    padding: 16px 24px;
    width: auto;
    font-size: 16px;
  }

  .construction .gradient {
    padding: 15px; /* Gradientin içərisini daraldırıq */
  }

  .construction .gradient p {
    font-size: 18px;
    color: #aeb4b8;
  }

  .construction .gradient span {
    font-size: 18px;
  }

  .construction .card_construction {
    grid-template-columns: 1fr; /* Kartları yığırıq */
  }

  .construction .card_construction .info_card .card_footer p {
    font-size: 18px;
  }

  .construction .card_construction .info_card {
    padding: 30px 20px;
  }

  .construction .card_construction .info_card p {
    font-size: 18px;
  }

  .construction .card_construction .info_card button {
    font-size: 16px; /* Kiçik yazı */
  }

  /* IT SERVICES Section */
  .it_texno {
    background-color: var(--text_white);
    padding-bottom: 48px;
  }
  .it_services .it_title {
    padding: 30px 0 48px;
  }

  .it_services .it_title h4 {
    font-size: 32px;
  }

  .it_services .it_title p {
    font-size: 30px;
  }

  .it_services .it_list {
    gap: 8px;
    padding-bottom: 48px;
  }

  .it_services .it_list p {
    font-size: 18px;
  }

  /* QUALITY Section */
  .quality .quality_title {
    padding: 48px 16px 32px;
  }

  .quality .quality_title div {
    text-indent: 0;
  }

  .quality .quality_title h4 {
    font-size: 26px;
    font-family: "d-b";
  }

  .quality .quality_title p {
    font-size: 18px; /* Kiçik mətn ölçüsü */
    margin-bottom: 0;
  }

  .quality .section {
    flex-direction: column; /* Vertikal yerləşmə */
    gap: 10px;
    top: 16px;
  }

  .quality .section .quality_card {
    flex-direction: column; /* Kartın içindəki elementləri yığırıq */
    padding: 25px; /* Kiçik padding */
    gap: 8px;
  }

  .quality .section .section_data h3 {
    font-size: 18px;
    font-family: "d-b";
  }

  .quality .section .section_data p {
    font-size: 18px;
  }

  .quality .icon_texno {
    background-color: var(--text_white);
  }

  /* Texnologiya bölməsi */
  .texnology {
    padding: 50px 10px; /* padding kiçildirik */
    text-indent: 0; /* Text-indent silirik */
    background-color: var(--text_white);
  }

  .texnology h3 {
    font-size: 24px;
  }

  .texnology p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .quality .section .icon {
    display: none;
  }
}

/* Mobil üçün uyğunlaşdırmalar (max-width: 576px) */
@media (max-width: 576px) {
  /* HOME Section */
  .home .home_title {
    padding: 412px 0 16px; /* padding azaldılıb */
  }

  .home .home_title .home_about {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .home .home_title .home_about h1 {
    font-size: 30px; /* Yəni daha kiçik başlıq */
  }

  .home .home_title .home_about p {
    font-size: 14px; /* Kiçik mətn */
    padding-bottom: 30px; /* Bottom padding */
  }

  .home .home_title .home_btn button {
    width: auto; /* Düymə eni kiçildilib */
    height: 50px; /* Düymə boyu */
  }

  .home .home_title .home_btn button span {
    font-size: 14px;
  }

  .home .home_title .home_btn button .icon {
    font-size: 20px;
  }

  .home .home_title .home_btn {
    display: flex;
    align-items: flex-end;
  }

  /* HOME Container - Daha uyğun grid strukturu */
  .home .home_container {
    grid-template-columns: 1fr; /* Bütün sütunları bir-birinə yığırıq */
    padding: 54px 16px;
  }

  .home .home_container .home_main {
    align-items: normal;
  }

  .home .home_container .home_main p {
    font-size: 18px; /* Kiçik mətn ölçüsü */
  }

  .home .home_container .home_main h1 {
    font-size: 24px; /* Kiçik başlıq */
  }

  .construction .more_btn {
    font-size: 16px;
    font-family: "d-r";
    line-height: 100%;
    color: #1d202880;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .construction .more_btn p {
    text-decoration: underline;
  }

  /* CARD SELECTED Section */
  .card_selected .useCard_title {
    flex-direction: column; /* Yığılmış başlıq */
    padding-top: 30px;
  }

  .card_selected .useCard_title p {
    font-size: 18px;
  }

  .card_selected .useCard_title span {
    font-size: 24px;
  }

  .card_selected .useCard_title .theme {
    font-size: 16px;
    padding-top: 20px;
  }

  .card_selected .useCard {
    grid-template-columns: 1fr; /* Kartları tək sütun halına gətiririk */
    padding: 32px 16px;
  }

  .construction .construction_title div {
    text-indent: 0;
  }

  .construction .construction_title h4 {
    font-size: 24px;
  }

  .construction .construction_title p {
    font-size: 16px; /* Kiçik mətn ölçüsü */
    margin-bottom: 0;
  }

  .construction .gradient button {
    padding: 16px 24px;
    width: auto;
    font-size: 14px;
  }

  .construction .gradient {
    padding: 15px; /* Gradientin içərisini daraldırıq */
  }

  .construction .gradient h3 {
    font-size: 22px;
  }

  .construction .gradient p {
    font-size: 16px;
    color: #aeb4b8;
  }

  .construction .gradient span {
    font-size: 16px;
  }

  .construction .card_construction {
    grid-template-columns: 1fr; /* Kartları yığırıq */
  }

  .construction .card_construction .info_card .card_footer p {
    font-size: 18px;
  }

  .construction .card_construction .info_card {
    padding: 30px 20px;
  }

  .construction .card_construction .info_card p {
    font-size: 16px;
  }

  .construction .card_construction .info_card button {
    font-size: 16px; /* Kiçik yazı */
  }

  /* IT SERVICES Section */
  .it_texno {
    background-color: var(--text_white);
    padding-bottom: 48px;
  }
  .it_services .it_title {
    padding: 30px 0 48px;
  }

  .it_services .it_title h4 {
    font-size: 18px;
  }

  .it_services .it_title p {
    font-size: 24px;
  }

  .it_services .it_list {
    gap: 8px;
    padding-bottom: 48px;
  }

  .it_services .it_list p {
    font-size: 16px;
  }

  /* QUALITY Section */
  .quality .quality_title {
    padding: 48px 16px 32px;
  }

  .quality .quality_title div {
    text-indent: 0;
  }

  .quality .quality_title h4 {
    font-size: 24px;
    font-family: "d-b";
  }

  .quality .quality_title p {
    font-size: 16px; /* Kiçik mətn ölçüsü */
    margin-bottom: 0;
  }

  .quality .section {
    flex-direction: column; /* Vertikal yerləşmə */
    gap: 10px;
    top: 16px;
  }

  .quality .section .quality_card {
    flex-direction: column; /* Kartın içindəki elementləri yığırıq */
    padding: 25px; /* Kiçik padding */
    gap: 8px;
  }

  .quality .section .section_data h3 {
    font-size: 16px;
    font-family: "d-b";
  }

  .quality .section .section_data p {
    font-size: 16px;
  }

  .quality .icon_texno {
    background-color: var(--text_white);
  }

  /* Texnologiya bölməsi */
  .texnology {
    padding: 50px 10px; /* padding kiçildirik */
    text-indent: 0; /* Text-indent silirik */
    background-color: var(--text_white);
  }

  .texnology h3 {
    font-size: 24px;
  }

  .texnology p {
    font-size: 16px;
    margin-bottom: 0;
  }

  .quality .section .icon {
    display: none;
  }
}
