* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "d-sb";
  src: url("./fonts/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: "d-b";
  src: url("./fonts/DMSans-Bold.ttf");
}
@font-face {
  font-family: "d-r";
  src: url("./fonts/DMSans-Regular.ttf");
}

:root {
  --text_black: #000000;
  --text_white: #FFFFFF;
  --theme_black: #0f121b;
  --theme_white: #f1f5f7;
  --footer_text_color: #9CACB4;
  --card_color: #F8F9FB;
}
.active {
  color: rgb(238, 238, 18) !important;
}
@media (min-width: 1360px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1330px !important;
  }
}











